@{
    ViewBag.Title = "Air Wróbel - linie lotnicze";
}




<div class="marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="../Obrazy/info.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Informacje</h2>
            <p>Badź na bieżąco- aktualne informacje.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sprawdź</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="../Obrazy/lotnisko.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Aktualne promocje</h2>
            <p>Tu znajdziesz najlepsze oferty.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sprawdź</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="../Obrazy/samolot.jpg"  width="140" height="140">
            <h2>Gwarancja najniższej ceny</h2>
            <p>z Air Wróbel dolecisz najtaniej!</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sprawdź</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    </div>