
@{
  
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>News</title>
</head>
<body>
    <div class="col-lg-6">
        <p>
            <h2>1.06.2016</h2>
           Linie lotnicze AirWróbel otworzyły połączenie między Warszawą, a Gdańskiem. Ceny można sprawdzić w naszym cenniku :) 
        </p>
        <br />
        <p>
            <h2>29.05.2016</h2>
           Promocja na lot LAST MINUTE. Wylot dzisiaj o godzinie 18:00 z Krakowa do Wrocławia. Ceny biletów 30% niższa! 
        </p>
        <br />
        </div>
</body>
</html>
