@{
    ViewBag.Title = "Cennik";
}
@*<h3>@ViewBag.Message</h3>*@
<table border="1" align="center" width="450" height="350">
    <tr bgcolor="#84B2FF">
        <td align="center"><b>LOT</b></td>
        <td align="center"><b>TYP BILETU</b></td>
        <td align="center"><b>CENA</b></td>
    </tr>
    <tr bgcolor="#E4F0FF">
        <td rowspan="2" align="center">Warszawa - Kraków <br>Kraków - Warszawa</td> 
        <td align="center">Klasa I</td>      
        <td align="center">150zł</td>
    </tr>
    <tr bgcolor="#E4F0FF">
        <td align="center">Klasa Ekonomiczna</td>
        <td align="center">100zł</td>
    </tr>

    <tr bgcolor="#E4F0FF">
        <td rowspan="2" align="center">Kraków - Gdańsk<br>Gdańsk - Kraków</td>
        <td align="center">Klasa I</td>
        <td align="center">200zł</td>
    </tr>
    <tr bgcolor="#E4F0FF">
        <td align="center">Klasa Ekonomiczna</td>
        <td align="center">150zł</td>
    </tr>

    <tr bgcolor="#E4F0FF">
        <td rowspan="2" align="center">Kraków - Wrocław<br>Wrocław - Kraków</td>
        <td align="center">Klasa I</td>
        <td align="center">150zł</td>
    </tr>
    <tr bgcolor="#E4F0FF">
        <td align="center">Klasa Ekonomiczna</td>
        <td align="center">100zł</td>
    </tr>

    <tr bgcolor="#E4F0FF">
        <td rowspan="2" align="center">Warszawa - Gdańsk<br>Gdańsk - Warszawa</td>
        <td align="center">Klasa I</td>
        <td align="center">150zł</td>
    </tr>
    <tr bgcolor="#E4F0FF">
        <td align="center">Klasa Ekonomiczna</td>
        <td align="center">100zł</td>
    </tr>

    <tr bgcolor="#E4F0FF">
        <td rowspan="2" align="center">Warszawa - Wrocław<br>Wrocław - Warszawa</td>
        <td align="center">Klasa I</td>
        <td align="center">150zł</td>
    </tr>
    <tr bgcolor="#E4F0FF">
        <td align="center">Klasa Ekonomiczna</td>
        <td align="center">100zł</td>
    </tr>

    <tr bgcolor="#E4F0FF">
        <td rowspan="2" align="center">Gdańsk - Wrocław<br>Wrocław - Gdańsk</td>
        <td align="center">Klasa I</td>
        <td align="center">200zł</td>
    </tr>
    <tr bgcolor="#E4F0FF">
        <td align="center">Klasa Ekonomiczna</td>
        <td align="center">150zł</td>
    </tr>
</table>

<br /><br /><br /><br /><br />

<table border="1" align="center" width="450" height="150">
    <tr bgcolor="#84B2FF">
        <td align="center"><b>WAGA BAGAŻU</b></td>
        <td align="center"><b>NADPŁATA</b></td>
    </tr>

    <tr bgcolor="#E4F0FF">
        <td align="center">Do 21 kg</td>
        <td align="center">0 zł</td>
    </tr>
    <tr bgcolor="#E4F0FF">
        <td align="center">21.1 - 25 kg</td>
        <td align="center">15 zł</td>
    </tr>
    <tr bgcolor="#E4F0FF">
        <td align="center">25.1 - 30 kg</td>
        <td align="center">25 zł</td>
    </tr>
    <tr bgcolor="#E4F0FF">
        <td align="center">Powyżej 30 kg</td>
        <td align="center">35 zł</td>
    </tr>
</table>

@*<div class="col-lg-6">
    <img src="../Obrazy/samolot2.jpg" alt="Generic placeholder image">
</div>*@
<br />
